img {
    width: 900px;
}

.unordered-list {
    list-style: circle;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-position: outside;
    font-size: xx-large;
    line-height: 1.0;
}

.ordered-list {
    list-style: url(./Assets/tick-svgrepo-com.svg);
    list-style-position: outside;
    text-align: right;
    width: 500px;
   
}

header {
    height: max-content;
    width: max-content;
    margin:100px auto;
    padding: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.one {
    background-color: aqua;
}

.two {
    background-color: red;
}

.three {
    background-color: blue;
}

.recipe-details {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    padding: 80px;
    border-radius: 50px;
}

